@charset "EUC-KR";
	*{
		font-family: a타이틀고딕2;
	}
	body{
		width : 1250px;
		margin : 10px auto;
            background-color: white;
	}
	
		.logos{
			display: flex;
			justify-content: center; }
        #app {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
        
        button {
            padding: 10px 20px;
            border:none;
            cursor:pointer;
        }
        button:hover{
         background-color: #FFDADA;
        }
        
        #buttons {
        	height: 50px;
         	background-color: #F2DAED;
         	padding : 30px;
         	margin-bottom:50px;
        
        }
        .btn {
        float:left;
        display: flex; 
    justify-content: space-between;
    align-items: center;
        }
        
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
        
        .header label {
            margin-right: 20px;
        }
        
        input {
        border: 1px solid black; }
        
        input:focus {outline:none;
 		border: 2px solid rgb(255, 128, 128);}
 
        
        .feedType {
            display: inline-block;
            width: calc(30% - 2%); 
            height: auto;
        	margin: 0 30px;
        	margin-bottom: 30px;
            box-sizing: border-box;
            vertical-align: top;
            background-color: #F2FF81;
            border: 2.5px solid #C6D72F;
            border-radius: 0 0 25%;
            padding: 20px;
            list-style: none;
        }
        
        .feedType a {
            text-decoration: none;
            color: inherit;
        }
        
        #writearea{
        background-color: #F2DAED;
        padding:30px;
        }
        
        .profile-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
        
        .write textarea {
            width: 100%;
            height: 100px;
            margin-bottom: 10px;
            resize: vertical;
        }
        
        .write button {
            background-color: #FC8E9B;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }
        
        .container ul {
            list-style: none;
            padding: 0;
        }
        
        .container ul li {
            margin-bottom: 10px;
        }
        
        .container ul li span {
            font-weight: bold;
            margin-right: 5px;
        }
        
        .container ul li button {
            background-color: #FFFFFF;
            border: 1px solid #BB91E7;
            color: #BB91E7;
            padding: 5px 10px;
            cursor: pointer;
        }
        
        .container ul li button:hover {
            background-color: #BB91E7;
            color: white;
        }
   
	   .profile-image {
		    width: 50px;
		    height: 50px;
		    border : 1px solid #BB91E7;
		    border-radius: 50%; 
		    object-fit: cover;
		}
		
		hr{
			border: none; 
	        height: 2px; 
	        background: linear-gradient(to right,#DCFF29, #D239FF, #DCFF29); 
	        margin: 20px 0; 
		}
		.image{
			border : none;
			width : 300px;
			height : 300px;
		}
		.imageX{
			display: none;
		}
		