@charset "EUC-KR";
      .nickname{
  line-height:  127px;
  margin-left: 70px;
 } 
 
 .name{
   margin-left: 45px;
  font-size: 4em;
  font-weight: bold;
 }
  body{
  	margin : 0px;
  	padding : 0px;}
  #app {
  
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  #container {
    width: 1200px;
  }
  #top {
  	background-color: #FADBEE;
    width: 1200px;
    height: 400px;
    
  }
  #body {
  margin-top : 40px;
    width: 1200px;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    
  }
  #left {
    
    width: 250px;
    height: 800px;
  }
  #right {
   margin-left : 90px;
    width: 950px;
    height: 800px;
  }
  #profileImg{
  	border-radius: 50%;
  	background-color: purple;
  	width: 200px;
  	height: 200px;
  	margin-left: 55px;
  	margin-top : -15px;
  }
  .left{
  float: left;
  }
  .topImgBoxwid{
   	width: 300px;
  	height: 240px;
  }
  .topBoxwid{
   	width: 200px;
  	height: 250px;
  }
  .userName{
  	height: 245px;
  	
  }
  .a{
  	height: 245px;
  }
  .topBox{
  width : 889px;
   height: 120px;
    float: left;
     display: flex;
  }
  .details{  
  	margin: 0px 30px;
  	width: 200px;
  	text-align: center;
  	font-size: 2em;
  }
 h1{
 margin-left: 30px;
 } 
  .categories{
    padding-bottom : 25px;
   	widows : 200px;
  	border-bottom:3px solid black;
  	border-bottom-color: #a1a1a1da;
  	margin-bottom: 40px;
  }
  .lowerBox{
    padding-bottom : 25px;
   	width : 849.8px;   	  
  	border-bottom:3px solid black;
  	border-bottom-color: #a1a1a1da;
  }
 li {
 
  list-style-type: none;
  line-height: 55px;
}
a {
  text-decoration: none;
  color: black; 
}
.nodata{
 color: #888888;
 line-height: 200px;
 text-align: center;
}
.View{
height: 300px;
 margin-bottom: 150px;
}
  