@charset "EUC-KR";
      .nickname{
  line-height:  127px;
  margin-left: 70px;
 } 

 .name{
   margin-left: 45px;
  font-size: 4em;
  font-weight: bold;
 }
  body{
     margin : 0px;
     padding : 0px;
     }

  #app {
   
    justify-content: center;
    align-items: center;
    
  }
  #container {
    width: 100%;
    
  }
  #topbody{
	background-color: #FADBEE;
    width:1700PX;
    height: 400px;
    margin: 0px auto;
  }
   #top{
	background-color: #FADBEE;
  }

  #body {
  margin : 40px auto;
    width: 1600px;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    
  }
  #left {
    
    width: 300px;
    height: 800px;
  }
  #right {
   margin-left : 90px;
    width: 1100px;
    height: 800px;
  }
  #profileImg{
     border-radius: 50%;
     background-color: purple;
     width: 200px;
     height: 200px;
     margin-left: 55px;
     margin-top : -15px;
  }
  .left{
  float: left;
  }
  .topImgBoxwid{
      width: 300px;
     height: 240px;
  }
  .topBoxwid{
      width: 200px;
     height: 250px;
  }
  .userName{
     height: 245px;
     
  }
  .a{
     height: 245px;
     width:1200px;
     margin: 0px auto;

       }
  .topBox{
  width : 889px;
   height: 120px;
    float: left;
     display: flex;
  }
  .details{  
     margin: 0px 30px;
     width: 200px;
     text-align: center;
     font-size: 2em;
  }
 h1{
 margin-left: 30px;
 } 
  .categories{
    padding-bottom : 25px;
      widows : 200px;
     border-bottom:3px solid black;
     border-bottom-color: #a1a1a1da;
     margin-bottom: 40px;
 
  }
  .lowerBox{
    padding-bottom : 25px;
      width : 1200px;        
     border-bottom:3px solid black;
     border-bottom-color: #a1a1a1da;
  }
 li {
 
  list-style-type: none;
  line-height: 55px;
}
a {
  text-decoration: none;
  color: black; 
}
.nodata{
 color: #888888;
 line-height: 200px;
 text-align: center;
}
.View{
height: 300px;
 margin-bottom: 150px;
}
  